name: Qodana
on:
  workflow_dispatch:
#  pull_request:
#  push:
#    branches: # Specify your branches here
#      - main # The 'main' branch
#      - master # The 'master' branch
#      - 'releases/*' # The release branches

jobs:
  qodana:
    runs-on: ubuntu-latest
#    permissions:
#      contents: write
#      pull-requests: write
#      checks: write
    steps:
      - uses: actions/checkout@v4

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          profile-name: qodana.recommended
          use-caches: true
          # Ścieżka do pliku konfiguracyjnego
          config-path: qodana.yaml